# Top Earners in Movie Industry

## Table of Contents

<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#eda">Exploratory Data Analysis</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>

<a id="#intro"></a>
## Introduction

> This analysis project is to be done using the imdb movie data. When the analysis is completed, you should be able to find the top 5 highest grossing directors, the top 5 highest grossing movie genres of all time, comparing the revenue of the highest grossing movies and which companies released the most movies. 

> There are 10 columns that will not be needed for the analysis. Use pandas to drop these columns. HINT: Only the columns pertaining to revenue will be needed.

> To get you started, I've already placed the needed code for getting the packages and datafile that you will be using for the project.

In [16]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv('imdb-movies.csv')
df

C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

### Drop columns without neccesary information and remove all records with no financial information -- Pay close attention to things that don't tell you anything regarding financial data

In [18]:
#df = df.drop(columns=['popularity', 'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_count', 'release_year'])
#df
#df.drop(df.columns[[0,1,2,5,6,7,8,9,10,11,12,13,]], axis=1, inplace=True)
#drop('popularity', 'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_count', 'release_year').reset_index(drop=True)
#df.drop(['popularity', 'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_count', 'release_year'] axis=0)
#del df['popularity', 'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_count', 'release_year']
#df
dropped = df.drop(columns=['popularity', 'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_count', 'vote_average', 'release_year'])
dropped

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6015: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)

,id,imdb_id,budget,revenue,original_title,budget_adj,revenue_adj
0,135397,tt0369610,150000000,1513528810,Jurassic World,1.379999e+08,1.392446e+09
1,76341,tt1392190,150000000,378436354,Mad Max: Fury Road,1.379999e+08,3.481613e+08
2,262500,tt2908446,110000000,295238201,Insurgent,1.012000e+08,2.716190e+08
3,140607,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,1.839999e+08,1.902723e+09
4,168259,tt2820852,190000000,1506249360,Furious 7,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...
10861,21,tt0060371,0,0,The Endless Summer,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0,0,Grand Prix,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0,0,Beregis Avtomobilya,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0,0,"What's Up, Tiger Lily?",0.000000e+00,0.000000e+00
10865,22293,tt0060666,19000,0,Manos: The Hands of Fate,1.276423e+05,0.000000e+00

### Data Cleaning

In [19]:
# Delete all records with null, or empty values

df.dropna()

C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:47: RuntimeWarning: divide by zero encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in greater_equal
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in less
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in bitwise_or
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2453: RuntimeWarning: divide by zero encountered in equal
  return bool(asarray(a1 == a2).all())
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2453: RuntimeWarning: divide by zero encountered in equal
  return bool(asarray(a1 == a2).all())
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\concat.py:339: RuntimeWarning: divide by zero encountered in equal
  if (indexer == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10724,668,tt0064757,1.778746,7000000,81974493,On Her Majesty's Secret Service,George Lazenby|Diana Rigg|Telly Savalas|Gabrie...,http://www.mgm.com/view/movie/1411/On-Her-Maje...,Peter R. Hunt,Far up! Far out! Far more! James Bond 007 is b...,...,James Bond tracks archnemesis Ernst Blofeld to...,142,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM)|Danjaq,12/12/69,258,6.4,1969,4.160985e+07,4.872780e+08
10759,948,tt0077651,1.198849,300000,70000000,Halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,http://www.theofficialjohncarpenter.com/hallow...,John Carpenter,The Night HE Came Home!,...,"A psychotic murderer, institutionalized since ...",91,Horror|Thriller,Compass International Pictures|Falcon Internat...,10/25/78,522,7.3,1978,1.002810e+06,2.339890e+08
10760,8469,tt0077975,1.157930,2700000,141000000,Animal House,John Belushi|Tim Matheson|John Vernon|Verna Bl...,http://www.animalhouse.com/,John Landis,It was the Deltas against the rules... the rul...,...,"At a 1962 College, Dean Vernon Wormer is deter...",109,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,7/27/78,230,6.7,1978,9.025292e+06,4.713208e+08
10817,13963,tt0077838,0.064029,0,321952,The Last Waltz,Robbie Robertson|Rick Danko|Levon Helm|Richard...,http://www.mgm.com/#/our-titles/1092/The-Last-...,Martin Scorsese,It Started as a Concert. It Became a Celebration.,...,Martin Scorsese's rockumentary intertwines foo...,117,Documentary|Music,FM Productions|Last Waltz Inc.,5/1/78,33,8.0,1978,0.000000e+00,1.076189e+06
10819,16214,tt0077696,0.044675,0,78000000,Hooper,Burt Reynolds|Robert Klein|Adam West|Jan-Micha...,http://en.wikipedia.org/wiki/Hooper_(film),Hal Needham,The greatest stuntman alive!,...,Burt Reynolds plays a legendary stunt man know...,107,Action|Comedy,Warner Bros.,7/28/78,13,6.0,1978,0.000000e+00,2.607307e+08

#### Here's a helpful hint from my own analysis when I ran this the first time. This may help shed light on what your data set should look like.

#### If I created one record for each the `production_companies` a movie was release under and one record each for `genres`<br>and tried to run calculations, it wouldn't work because for many records, the amount of `production_companies`<br>and `genres` aren't the same, so I'll create 2 dataframes; one w/o a `production_companies` column and one w/o a `genres` columns

<a id="eda"></a>
## Exploratory Data Analysis

> Use Matplotlib to display your data analysis

### Which production companies released the most movies in the last 10 years? Display the top 5 production companies.

In [59]:

top5 = df.groupby('production_companies')['original_title', 'release_date'].count().reset_index().sort_values('original_title', ascending=False)
top5

<ipython-input-59-703fbc2ebfb8>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  top5 = df.groupby('production_companies')['original_title', 'release_date'].count().reset_index().sort_values('original_title', ascending=False)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexes\base.py:3141: RuntimeWarning: divide by zero encountered in not_equal
  mask = indexer != -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexing.py:1357: RuntimeWarning: divide by zero encountered in less
  missing_mask = indexer < 0
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:47: RuntimeWarning: divide by zero encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in greater_equal
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in less
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:290: RuntimeWarning: divide by zero encountered in bitwise_or
  mask = (indices >= n) | (indices < 0)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:795: RuntimeWarning: divide by zero encountered in int_scalars
  max_len = max(len(mgr_locs), taker.max() + 1)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1731: RuntimeWarning: divide by zero encountered in not_equal
  mask = ids != -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

,production_companies,original_title,release_date
4531,Paramount Pictures,156,156
6533,Universal Pictures,133,133
7132,Warner Bros.,84,84
7025,Walt Disney Pictures,76,76
3783,Metro-Goldwyn-Mayer (MGM),72,72
...,...,...,...
2566,Glass Eye Pix|Dark Sky Films|Site B,1,1
2565,Glass Eye Pix|Dark Sky Films,1,1
2564,Glass Eye Pix|Belladonna Productions|Off Holly...,1,1
2563,Glass Eye Pix,1,1
7444,í”„ë¡œë•ì…˜M,1,1

### What 5 movie genres grossed the highest all-time?

In [46]:

hgenre = df.groupby('genres')['revenue'].mean().reset_index().sort_values('revenue', ascending=False)
hgenre

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:679: RuntimeWarning: divide by zero encountered in isnan
  checker(arr[i : i + chunk_len]).all()  # type: ignore[arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1498: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1502: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in less
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in greater
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1504: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)

                                         genres       revenue
922         Crime|Drama|Mystery|Thriller|Action  1.106280e+09
114    Action|Adventure|Science Fiction|Fantasy  1.034089e+09
1303                   Family|Fantasy|Adventure  1.025467e+09
550            Adventure|Fantasy|Family|Mystery  9.382127e+08
1793  Science Fiction|Thriller|Action|Adventure  8.474235e+08
...                                         ...           ...
185      Action|Comedy|Mystery|Romance|Thriller  0.000000e+00
1477                   History|War|Action|Drama  0.000000e+00
955                Crime|Thriller|Mystery|Drama  0.000000e+00
401                         Adventure|Animation  0.000000e+00
568           Adventure|Horror|Mystery|Thriller  0.000000e+00

[2039 rows x 2 columns]

### Who are the top 5 grossing directors?

In [48]:
hdirector = df.groupby('director')['revenue'].sum().reset_index().sort_values('revenue', ascending=False)
hdirector

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2362: RuntimeWarning: divide by zero encountered in isfinite
  xfin = isfinite(x)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2363: RuntimeWarning: divide by zero encountered in isfinite
  yfin = isfinite(y)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in subtract
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in absolute
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in multiply
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in add
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in less_equal
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

                            director     revenue
4601                Steven Spielberg  9018563772
3800                   Peter Jackson  6523244659
1997                   James Cameron  5841894863
3284                     Michael Bay  4917208171
845                Christopher Nolan  4167548502
...                              ...         ...
1416                      Emily Ting           0
3094                    Marius Holst           0
3095                 Marjane Satrapi           0
3096                   Mark A. Lewis           0
2533  Jonas Barnes|Michael Manasseri           0

[5067 rows x 2 columns]

### Compare the revenue of the highest grossing movies of all time.

In [50]:
hmovie = df.groupby('original_title')['revenue'].sum().reset_index().sort_values('revenue', ascending=False)
hmovie

C:\Users\todds\anaconda3\lib\site-packages\pandas\core\algorithms.py:769: RuntimeWarning: divide by zero encountered in equal
  code_is_na = codes == na_sentinel
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:254: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2362: RuntimeWarning: divide by zero encountered in isfinite
  xfin = isfinite(x)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2363: RuntimeWarning: divide by zero encountered in isfinite
  yfin = isfinite(y)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in subtract
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in absolute
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in multiply
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in add
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\numeric.py:2346: RuntimeWarning: divide by zero encountered in less_equal
  return less_equal(abs(x-y), atol + rtol * abs(y))
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:396: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\sorting.py:397: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\indexers.py:284: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\array_algos\take.py:534: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:39: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial, where)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:127: RuntimeWarning: divide by zero encountered in long_scalars
  np.array([self.adj.len(x) for x in idx]).max() + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:126: RuntimeWarning: divide by zero encountered in long_scalars
  lwidth -= (  # type: ignore[assignment,arg-type]
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:204: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:205: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:209: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\string.py:207: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\internals\managers.py:238: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:56: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\_methods.py:62: RuntimeWarning: divide by zero encountered in reduce
  return umr_all(a, axis, dtype, out, keepdims)
C:\Users\todds\anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:358: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\todds\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: divide by zero encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\todds\anaconda3\lib\site-packages\pandas\io\formats\format.py:1323: RuntimeWarning: divide by zero encountered in bitwise_and
  inferred

                     original_title     revenue
818                          Avatar  2781505847
7375   Star Wars: The Force Awakens  2068178225
9718                        Titanic  1845034188
7850                   The Avengers  1568080742
4423                 Jurassic World  1513528810
...                             ...         ...
4487                         Khakee           0
4486       Kevin and Perry Go Large           0
4485    Kevin Hart: Seriously Funny           0
4483   Kevin Hart: Laugh at My Pain           0
10570                      í•˜ìš¸ë§           0

[10571 rows x 2 columns]

<a id="conclusions"></a>
## Conclusions

> Using the cell below, write a brief conclusion of what you have found from the anaylsis of the data. The Cell below will allow you to write plan text instead of code.